@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<form class="form-group" method="post">

    

    <div style="margin-top:10px;">
        <label>Kategori Adı:</label>
        <input style="width:25%;" type="text" class="form-control" name="AD" placeholder="Kategori adı giriniz..."  />
    </div>


    <div style="margin-top:10px;">
        <button class="btn btn-info" id="btnKtgEkle">Kategori Ekle</button>
    </div>

</form>

