@model MvcKutuphane.Models.Entity.TBLYAZAR


@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}



@using (Html.BeginForm("YazarGüncelle","Yazar", FormMethod.Post))
            {

<div class="form-group">

    <label>Yazar ID: </label>
    @Html.TextBoxFor(y=>y.ID, new { @class= "form-control"})

</div>

<div class="form-group">

    <label>Yazar Ad: </label>
    @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })

</div>

<div class="form-group">

    <label>Yazar Soyad: </label>
    @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control" })

</div>

<div class="form-group">

    <label>Yazar Detay Bilgileri: </label>
    @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control" })

</div>

 <button class="btn btn-warning">Güncelle</button>





            }